.setting {
  position: relative;
  padding: 20px 50px;
  width: 100%;
  height: 100vh;
  padding-bottom: 100px;
  margin: 20px auto 0 auto;
  background-color: #2e2d2d;
}
.setting__container {
  h1 {
    font-size: 32px;
    color: #d43d0f;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.setting__infor {
  display: flex;
  h2 {
    font-size: 24px;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    color: #e2552a;
    border-bottom: 1px solid #aa1313;
  }
}

.setting__infor__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .setting__infor__item__input {
    margin-right: 2rem;
    padding: 0 12px;
    h3 {
      font-size: 18px;
      color: #fff;
      margin-bottom: 1rem;
    }

    input {
      border: none;
      width: 550px;
      background-color: transparent !important;
      border-bottom: 1px solid #c7610d;
      font-size: 16px;
      color: #e0dddd;
      line-height: 2;
      padding: 0 12px;
    }

    select {
      background-color: transparent;
      outline: unset;
      border: none;
      border-bottom: 1px solid #ccc;
      color: #cec7c7;
      font-size: 2rem;
      text-transform: capitalize;
    }

    option {
      color: #e2e2e2;
    }
  }
}

.setting__infor__item__button {
  margin-top: 28px;
  flex: 1 1;
  button {
    font-size: 16px;
    padding: 4px 16px;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #fff;
    border-radius: 5px;
    &:hover {
      border: 1px solid #b92e2e;
    }
  }

  &.active {
    & > button {
      display: none;
    }
    .setting__infor__item__save {
      display: inline-block;
    }
  }
}

.setting__infor__item__save {
  display: none;
  & > * {
    margin-right: 1.2rem;
  }
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.lable-img {
  background-color: #c7610d;
  padding: 2px 12px;
  margin-top: 6px;
  border-radius: 5px;
  color: #ccc;
}
.setting-avatar {
  h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.setting-input{
  display: flex;
  padding-left: 50px;
  margin-top: 40px;
}
.profile-title{
  width: 100%;
}
