.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 54, 54);
  z-index: 100;
}
.header_name {
  font-size: 24px;
  margin-left: 12px;
  text-shadow: 0px 0px 10px #df774e;
  text-decoration:underline;
}
.header_logo {
  padding: 0 12px;
}
.header_logo_text {
  text-decoration: none;
  color: rgb(243, 112, 25);
  font-size: 24px;
}
.search_icon {
  font-size: 24px;
  color: #f3ae6d;
  margin: 0 20px;
}
.header__body__search {
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f7a151;
}
.header_search {
  border: none;
  width: 70%;
  outline: none;
  font-size: 16px;
  color: rgb(243, 112, 25);
  background-color: rgb(54, 54, 54);
}
.header_footer {
  display: flex;
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.btn-button {
  color: #f3ae6d;
  background-color: rgb(61, 60, 60);
  padding: 4px 12px;
  border: 1px solid #e7771b;
  border-radius: 10px;
}
.header_user_name {
  color: #f3ae6d;
  background-color: rgb(61, 60, 60);
  padding: 4px 12px;
  border: 1px solid #e7771b;
  border-radius: 10px;
  position: relative;
}
.header__account__edit {
  position: fixed;
  display: none;
  right: 10px;
  min-width: 180px;
  top: 63px;
  overflow: hidden;
  background-color: #555252;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 1px 2px 1px 3px #4b4b4b;
  &.active {
    display: block;
     animation: flider ease 0.5s;
  }
}
.header__account__body {
    ul{
    list-style: none;
    padding-left: 10px;

    }
    li{
    padding: 10px 12px;
    border-bottom: 1px solid #f3ae6d;
    }

}
.heeader-acc-icon{
    font-size: 22px;
    color: #e7771b;
    margin-right: 10px;
}
.header-acc-link{
    text-transform: none;
    font-size: 18px;
    color: #e7771b;
    text-decoration: none;
    padding-top: 4px;
}
@keyframes flider {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

