.changePass{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.chang-pass{
    margin-top: 20px;
}
.change-title{
    margin-top: 90px;
    padding-left: 20px;
    color: rgb(165, 62, 14);
    text-transform: uppercase;
    h2{
        font-size: 22px;

    }

}